@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .thin-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  .thin-scrollbar::-webkit-scrollbar-thumb {
    border-right: 1px solid transparent;
    background-clip: padding-box;
    background-color: rgb(190,190,190);
    border-radius: 5px;
  }
  .thin-scrollbar::-webkit-scrollbar-track  {
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: transparent;
    border-radius: 5px;
  }
}
