.note {
  font-family: var(--font-inter), var(--font-noto-sans-jp);
  overflow-wrap: break-word;
}
.note h1 {
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: bold;
  border-bottom: 2px solid #eee;
  margin-top: 1.8rem;
  margin-bottom: 1.6rem;
}
.note h1:first-child {
  margin-top: 0rem;
}
.note h2 {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: bold;
  border-bottom: 2px solid #eee;
  margin-top: 1.6rem;
  margin-bottom: 1.4rem;
}
.note h2:first-child {
  margin-top: 0rem;
}
.note h3 {
  font-size: 1.4rem;
  line-height: 1.4;
  font-weight: bold;
  margin-top: 1.4rem;
  margin-bottom: 1.2rem;
}
.note h4, .note h5 {
  font-size: 1.2rem;
  line-height: 1.3;
  font-weight: bold;
  margin-top: 1.2rem;
  margin-bottom: 1.0rem;
}
.note p {
  font-size: 1.0rem;
  line-height: 2.0;
}
.note table {
  font-size: 1.0rem;
  line-height: 2.0;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  border: 1px solid #ddd;
}
.note table th {
  font-weight: bold;
  padding: 0.3rem 0.8rem;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
}
.note table td {
  padding: 0.3rem 0.8rem; 
  border: 1px solid #ddd;
}
.note ul {
  list-style-type: disc;
}
.note ul ul {
  list-style-type: circle;
}
.note ol {
  list-style-type: number;
  counter-reset: number;
}
.note li {
  font-size: 1.0rem;
  line-height: 2.0;
  margin-left: 1.5rem;
}
.note blockquote {
  font-size: 1.0rem;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  padding-left: 0.6rem;
  padding-top: 0.2rem;
  padding-bottom: 0.3rem;
  border-left: 4px solid #ddd;
}
.note pre {
  font-size: 0.9rem;
  line-height: 1.3;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  padding: 0.8rem;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.note img {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.comment {
  overflow-wrap: break-word;
  font-size: 1.0rem;
}
.comment h1 {
  font-size: 1.4rem;
  line-height: 1.4;
  font-weight: bold;
  border-bottom: 1px solid #eee;
  margin-top: 1.2rem;
  margin-bottom: 1.4rem;
}
.comment h1:first-child {
  margin-top: 0rem;
}
.comment h2 {
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: bold;
  border-bottom: 1px solid #eee;
  margin-top: 1.0rem;
  margin-bottom: 1.2rem;
}
.comment h2:first-child {
  margin-top: 0rem;
}
.comment h3, .comment h4, .comment h5 {
  font-size: 1.0rem;
  line-height: 1.0;
  font-weight: bold;
  border-bottom: 1px solid #eee;
  margin-top: 1.0rem;
  margin-bottom: 1.0rem;
}
.comment p {
  font-size: 0.9rem;
}
.comment table {
  font-size: 1.0rem;
  line-height: 2.0;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  border: 1px solid #ddd;
}
.comment table th {
  font-weight: bold;
  padding: 0.2rem 0.3rem;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
}
.comment table td {
  padding: 0.2rem 0.3rem;
  border: 1px solid #ddd;
}
.comment ul {
  list-style-type: disc;
}
.comment ul ul {
  list-style-type: circle;
}
.comment ol {
  list-style-type: number;
  counter-reset: number;
}
.comment li {
  font-size: 1.0rem;
  line-height: 1.6;
  margin-left: 1.5rem;
}
.comment blockquote {
  font-size: 0.9rem;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  padding-left: 0.6rem;
  padding-top: 0.2rem;
  padding-bottom: 0.3rem;
  border-left: 4px solid #eee;
}
.comment pre {
  font-size: 0.9rem;
  line-height: 1.2;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  padding: 0.8rem;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.comment img {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}
